.pokemon-whit-name
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-evenly
	height: 10%

.input-pokemon-name
	border: 2px grey solid
	padding: 10px
	border-radius: 15px
	width: 220px
