.pokemon-whit-name
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-evenly

.input-pokemon-name
	border: 2px grey solid
	padding: 10px
	border-radius: 15px
	width: 190px
