@use '../../styles/variables'

.single-pokemon
    display: flex
    flex-direction: column
    height: 155px
    width: 180px
    background-color: #3b4ccaef
    border-radius: 15px
    align-items: center
    justify-content: center
    font-family: fira code
    font-size: 12px
    font-weight: 500

.poke-img
    width: 110px

.single-pokemon p
    font-family: roboto-bold
    color: white
    font-size: 16px
    text-align: center
    width: 100%
    margin: 0px 20px 0px 20px
