
.pokemons
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(5, 1fr)
    grid-gap: 10px

/* #pokemon-list
 display: grid
 grid-template-columns: repeat(4)
 grid-gap: 10px
 margin-top: 20px */
