.container
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
/*   background-image: url('../../assets/PAISAGEM2.jpg')
 background-repeat: no-repeat
 background-size: cover
 background-position: center */

main
    display: flex
    justify-content: center
    width: 100%

#paisagem
    position: absolute
    z-index: -1
    opacity: 0.5
